@model PersonalTaskManager.Models.ViewModels.MyTasksViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-2">
        <vc:navigation-menu />
    </div>
    <div class="col-10">
        <table class="table">
            @*<thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TaskStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TaskCategory)
                    </th>
                    <th></th>
                </tr>
            </thead>*@
    
            <tbody>
                @foreach (var item in Model.MyTasks)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskCategory)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <div page-model="@Model?.PagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" page-url-category="@Model?.CurrentCategory!" class="btn-group pull-right m-1"></div>

    </div>
</div>
